.p-concept-card{
    &__img{
        width: 100%;
        height: 350px;
        object-fit: cover;
        margin-bottom: $space-section-inside;
    }
    &__title{
        font-size: 1.5em;
        margin-bottom: $space-m;
    }
    &__body{
    }
}
.p-news-card{
    display: flex;
    align-items: center;
    padding: $space-section-compo;
    border-bottom: $border;
    &__date{
        font-weight: unset;
        margin-right: $space-section-compo;
    }
    &__title{
        color: $theme-color-main;
    }
}